
<script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
	(function () {
		if (typeof _bsa !== 'undefined' && _bsa) {
			// format, zoneKey, segment:value, options
			_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
		}
	})();
</script>
<script>
	(function () {
		if (typeof _bsa !== 'undefined' && _bsa) {
			// format, zoneKey, segment:value, options
			_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
		}
	})();
</script>
<script>
	(function () {
		if (typeof _bsa !== 'undefined' && _bsa) {
			// format, zoneKey, segment:value, options
			_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
		}
	})();
</script>
<!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
<div id="codefund">
	<!-- fallback content -->
</div>
<script src="/js/funder.js" async="async"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-149859901-1');
</script>

<script>
	window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
	ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
	ga('require', 'eventTracker');
	ga('require', 'outboundLinkTracker');
	ga('require', 'urlChangeTracker');
	ga('send', 'pageview');
</script>
<script async src='/js/autotrack.js'></script>



<!-- Headers-4 block -->
<!-- title -->
<section class="w3l-titles-9" style="margin-top: 40px;">
	<div class="main-host">
		<div class="wrapper">
			<div class="title">
				<h3>Dịch vụ của chúng tôi</h3>
			</div>
		</div>
	</div>
</section>
<!-- //title -->

<!-- text-styles-34 -->
<section class="w3l-my-pricing-1">
	<div class="w3l-text-styles-34_sur">
		<div class="wrapper">
			<div class="text-styles-top-34">
				<h5>Bảng giá dịch vụ</h5>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Dịch vụ</th>
							<th>Kỳ hạn</th>
							<th>Lãi suất</th>
							<th>Mô tả </th>
							<th>Mua</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="top_hd">Gói gửi tiết kiệm 1-3 tháng</td>
							<td>Gói có kì hạn-3 tháng</td>
							<td>3%</td>
							<td>Mệnh giá: tối thiểu 1.000.000VND và là số dư của 100.000VND</td>
							<td><a href="/checkout">Mua</a></td>
						</tr>
						<tr>
							<td class="top_hd">Gói gửi có kỳ hạn</td>
							<td>Từ 1 tháng đến 24 tháng</td>
							<td>Tối đa 6.5%</td>
							<td>Số dư tối thiểu: 100 USD, 100 EUR</td>
							<td><a href="/checkout">Mua</a></td>
						</tr>
						<tr>
							<td class="top_hd">Gói tiền gửi thanh toán</td>
							<td></td>
							<td>5.1%</td>
							<td>Số dư tiền gửi tối thiểu: 50.000VND, 10 USD, 10 EUR. Các loại ngoại tệ khác không quy định mức số dư tối thiểu.</td>
							<td><a href="/checkout">Mua</a></td>
						</tr>
						<tr>
							<td class="top_hd">Tiền gửi online</td>
							<td>Từ 1 tuần đến 36 tháng</td>
							<td>4.5%</td>
							<td>Số dư tối thiểu: 1.000.000VND</td>
							<td><a href="/checkout">Mua</a></td>
						</tr>
						<tr>
							<td class="top_hd">Gói gửi tiết kiệm</td>
							<td>Từ 1 tuần đến 60 tháng</td>
							<td>4%</td>
							<td>Số dư tối thiểu: 500.000VND, 100 USD, 100 EUR,1.000.000 JPY</td>
							<td><a href="/checkout">Mua</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!-- /text-styles-34 -->

<section class="w3l-pricing-6">
	<!--/pricing -->
	<div class="pricing-main">
		<div class="wrapper">
			<h3 class="host-title">Bank Card Services</h3>
			<p class="price-dh">Enjoy and experience classy and attractive offers with our bank card service</p>
			<div class="grid grid-column-3">
				<div class="column">
					<div class="pricing">
						<h6 style="font-size: 24px;color: #051b35;text-align: center;font-style: normal;font-weight: bold;padding: 12px 0;">International Debit Card</h6>
						<img src="/images/card1.png" style="max-width: 100%;vertical-align: middle;">
						<div class="pricing-top">
							<h2>$59 <span>/month</span></h2>
						</div>
						<div class="pricing-bottom">
							<div class="pricing-bottom-bottom">
								<h3>Economy</h3>
								<ul class="links">
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">3 types: standard class, gold class, platinum class</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Interbank money transfer <b>24/7</b> on BIDV ATM</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Issuing fee: <b>Free</b>.</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Cash withdrawal fee at ATM / POS BIDV: <b>$0.042 / transaction</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Cash withdrawal fee at local banks <b>$0.42</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Withdrawal fee at foreign bank <b>4%</b> of the withdrawal amount, <b>minimum $2.14 / transaction</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Transfer fee:<b>0.05%</b> of the transfer amount, <b>minimum $0.084, maximum $0.85</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Annual fee: Free of charge for the first year; From the 2nd year: <b>$3.42 (Primary card); $2.14 (Supplementary card)</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Transaction limit: Payment: <b>$21412.67 / day</b>; Cash withdrawal: <b>$8565.069 / day</b>; Transfer:<b> $21412.67 / day</b>.</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Transact at <b>millions</b> of ATM / POS network locations with the MasterCard logo worldwide</h5>
										<div class="clear"></div>
									</li>


								</ul>
								<div class="buy-button text-center">
								<a class="popup" href="/checkout">Buy Now</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="column">
					<div class="pricing">
						<h6 style="font-size: 24px;color: #051b35;text-align: center;font-style: normal;font-weight: bold;padding: 12px 0;">International Credit Card</h6>
						<img src="/images/card2.png" style="max-width: 100%;vertical-align: middle;">
						<div class="pricing-top">
							<h2>$89 <span>/month</span></h2>
						</div>
						<div class="pricing-bottom">
							<div class="pricing-bottom-bottom">
								<h3>Deluxe</h3>
								<ul class="links">
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">4 types: standard class, gold class, platinum class,infinite class</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">First spending - Pay later - Maximum interest free period of <b>45 days</b>.</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Annual fee: <b>$42.82 (Primary card),$25.69 (Supplementary card)</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Withdrawal fee on ATM / POS with our bank and orther bank: <b>3%</b> of withdrawal amount, <b>minimum $2.14</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Foreign currency conversion fee <b>1%</b> of the transaction amount</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Transaction processing fees at foreign merchants <b>1.1%</b> of the transaction amount</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Late payment penalty of <b>4%</b> of the late payment amount, <b>minimum $4.28</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Transact at <b>millions</b> of ATM / POS network locations with the MasterCard logo worldwide</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Manage your finances proactively and flexibly with the <b>Automatic Debt Collection / Debt Payment Service</b> through Smart Banking and electronic statement.</h5>
										<div class="clear"></div>
									</li>

								</ul>
							<div class="buy-button text-center">
								<a class="popup" href="/checkout">Buy Now</a>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="pricing">
						<h6 style="font-size: 24px;color: #051b35;text-align: center;font-style: normal;font-weight: bold;padding: 12px 0;">Domestic Debit Card</h6>
						<img src="/images/card3.png" style="max-width: 100%;vertical-align: middle;">
						<div class="pricing-top">
							<h2>$59 <span>/month</span></h2>
						</div>
						<div class="pricing-bottom">
							<div class="pricing-bottom-bottom">
								<h3>Unlimited</h3>
								<ul class="links">
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Bank transfer fee with our banking system <b>0.05%</b> of the transaction amount; minimum <b>$0.086</b>, maximum <b>$0.64</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Cash withdrawal fee at ATM: <b>$0.042 / transaction</b>,at ATMs connecting banks Domestic: <b>$0.12 / transaction</b>; Overseas: <b>$1.71 / transaction</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Annual fee (USD / excluding VAT) <b>$2.57</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Initial issuance fee (USD / excluding VAT) <b>$4.28</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Maximum number of withdrawals / day: <b>20 times</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Maximum withdrawal amount / day: <b>$2999.72</b>,maximum transfer amount / day <b>$4285.31</b></h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Payment on mobile devices via the application: Samsung Pay, BIDV Pay +...Pay online via online bill payment service</h5>
										<div class="clear"></div>
									</li>
									<li>
										<div class="tick-mark"><img src="/images/Check.png" alt="vv"></div>
										<h5 class="tick-info">Cash withdrawal and payment of goods and services at all ATM / POS accepting points with the Napas and BIDV logo (domestic and foreign).</h5>
										<div class="clear"></div>
									</li>

								</ul>
								<div class="buy-button text-center">
								<a class="popup" href="/checkout">Buy Now</a>
							</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--/pricing -->
</section>

<!-- pricing11 -->
<section class="w3l-pricing-11">
	<div class="pricing11">
		<div class="wrapper">
			<h3 class="host-title">The Most Registered Service</h3>
			<div class="pricing11-content">
				<div class="column pricing-grid">
					<h6>Unemployment insurance</h6>
					<div class="rate">
						<h4>Price</h4>
						<h5><span class="top-align">from</span> $39 <span>/mo.</span></h5>
					</div>
					<p>Is one of the benefits of social insurance when an employee terminates a labor contract with an employer.</p>
					<ul class="points">
						<li><img src="/images/Check.png" alt="" /> Unemployment benefit rate is equal to 60% of the average monthly salary paid for unemployment insurance of the 06 consecutive months before unemployment.
						<li><img src="/images/Check.png" alt="" /> The monthly payment is equal to 22% of the monthly income</li>
						<li><img src="/images/Check.png" alt="" /> The following payment methods: Monthly, every 03/06/12 months, once for many years at a lower level than the monthly payment or once for missing years with a higher level than the monthly payment rate as prescribed.</li>
					</ul>
					<div class="text-center pos">
						<a href="/checkout" class="action"> Purchase </a>
					</div>
				</div>
				<div class="column pricing-grid pricing-grid-active">
					<span class="recommend">We Recommend</span>
					<h6>Life Insurance</h6>
					<div class="rate">
						<h4>Price</h4>
						<h5><span class="top-align">from</span> $139 <span>/mo.</span></h5>
					</div>
					<p>A product that provides a long-term savings plan through mutual funds and benefit sharing based on the return on investment the company makes.</p>
					<ul class="points">
						<li><img src="/images/Check.png" alt="" /> Minimum amount of insurance: $6424
						<li><img src="/images/Check.png" alt="" /> Contract term: 100 - years of participation</li>
						<li><img src="/images/Check.png" alt="" /> Minimum payment term: 3 years.
						Minimum premium: $214.12</li>
						<li><img src="/images/Check.png" alt="" /> Products integrated benefits protect against 5 common incurable diseases such as cancer, stroke, myocardial infarction, liver failure, kidney failure.</li>
						<li><img src="/images/Check.png" alt="" /> Provides an additional accident protection benefit of up to 300% of the insured amount in case of accidental risk on public transport or risk outside Vietnam. </li>
					</ul>
					<div class="text-center pos">
						<a href="/checkout" class="action"> Purchase </a>
					</div>
				</div>
				<div class="column pricing-grid">
					<h6>Non-life Insurance</h6>
					<div class="rate">
						<h4>Unlimited</h4>
						<h5><span class="top-align">from</span> $59 <span>/mo.</span></h5>
					</div>
					<p>Is an insurance product associated with individual customer loans. When participating in insurance, customers will be insured for their lives 24/24 in the territory of Vietnam.</p>
					<ul class="points">
						<li><img src="/images/Check.png" alt="" /> Insurance term: according to customer's loan period, not exceeding 15 years
						<li><img src="/images/Check.png" alt="" /> In case the participant dies by accident: pay 100% of the insured amount, up to $176000 depending on the participating insurance program.</li>
						<li><img src="/images/Check.png" alt="" /> In case of death of a participant due to sickness: pay a part or all of the sum insured, up to $8565 depending on the participating insurance program.</li>
						<li><img src="/images/Check.png" alt="" /> Accident hospitalization allowance in case the accident participant is hospitalized and covered by the insurance. The maximum allowance is up to $8.56/ day, maximum 30 days.</li>
						<li><img src="/images/Check.png" alt="" /> Interest rate support during the waiting time for handling of the complaint in case the participant is within basic insurance benefits, maximum 60 days. </li>
						<li><img src="/images/Check.png" alt="" /> Funeral allowance: $42.82 / participant.</li>
					</ul>
					<div class="text-center pos">
						<a href="/checkout" class="action"> Purchase</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //pricing11 -->
<!-- pricing-7 -->


